---
import { AppConfig } from "../AppConfig";
import MainLayout from "../layouts/MainLayout.astro";
import { Picture } from "astro:assets";
import Cat from "../assets/homepage_catttt.jpg";

// @unocss-include
const links = [
  { name: "GitHub", icon: "i-fa6-brands:github", href: AppConfig.links.github },
  {
    name: "Linkedin",
    icon: "i-fa6-brands:linkedin",
    href: AppConfig.links.linkedin,
  },
  {
    name: "Email",
    icon: "i-fa6-solid:envelope",
    href: `mailto:${AppConfig.email}`,
  },
];
---

<MainLayout title={AppConfig.name}>
  <p>Hello 👋</p>

  <p>I'm Hollis, a Software Engineer and DevOps Engineer.</p>

  <p>Here is my <a href="/blog">blog</a> for storing my random thoughts.</p>

  <p>Find me on</p>

  <p class="flex gap-2">
    {
      links.map((link) => (
        <a href={link.href} target="_blank" rel="noreferrer noopener">
          <span class:list={["mr-1", link.icon]} />
          {link.name}
        </a>
      ))
    }
  </p>

  <p>And here is my cat</p>
  <Picture
    widths={[300, 800, 1200, Cat.width / 2, Cat.width]}
    src={Cat}
    alt="Image of my cat, lying on my bed looking at the camera with her adorable eyes"
    formats={["avif", "webp"]}
  />

  <p></p>
</MainLayout>
