---
import { getCollection, type CollectionEntry } from "astro:content";
import MainLayout from "../../../layouts/MainLayout.astro";
import BlogTitle from "../../../components/BlogTitle.astro";
import { AppConfig } from "../../../AppConfig";
import { blogPubDate } from "../../../utils/blog";

export async function getStaticPaths() {
  const blogs = await getCollection("blog");

  return blogs.map((entry) => ({
    params: {
      slug: entry.slug,
      year: blogPubDate(entry).year,
    },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"blog">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const branch = import.meta.env.CF_PAGES_BRANCH ?? "main";
const githubUrl = new URL(
  `blob/${branch}/src/content/blog/${entry.id}`,
  AppConfig.links.repo,
);

const discussUrl =
  entry.data.discuss == null
    ? null
    : new URL(`discussions/${entry.data.discuss}`, AppConfig.links.repo);
---

<MainLayout title={`${entry.data.title} | ${AppConfig.name}`} class="max-w-3xl">
  <BlogTitle blog={entry} />

  <article class="blog">
    <Content />
  </article>

  <ul class="my-6 flex list-none gap-3 p-0">
    {
      discussUrl == null ? null : (
        <li>
          <a
            href={discussUrl.toString()}
            target="_blank"
            rel="noreferrer noopener"
          >
            <span class="i-fa6-solid:comments" />
            Discuss
          </a>
        </li>
      )
    }

    <li>
      <a href={githubUrl.toString()} target="_blank" rel="noreferrer noopener">
        <span class="i-fa6-brands:github"></span>
        View this page on GitHub
      </a>
    </li>
  </ul>
</MainLayout>

<style is:global>
  article.blog :is(h1, h2, h3, h4, h5, h6) {
    @apply mt-10 mb-6;
  }

  article.blog hr {
    @apply my-6 border-secondary;
  }

  article.blog pre {
    @apply p-3;
  }

  article.blog blockquote {
    @apply italic p-3 my-6 b-l-8 b-l-solid b-l-secondary;

    @apply bg-warmGray-2;
  }
</style>
